@media (min-width: 480px) {

	/* --  FOOTER  -- */

	.footer {
		margin-top: 40px;
	}

	/*#gallery li:nth-child(2n) {
	    clear: left;
	  }*/

	/* --  ABOUT PAGE  -- */

	.profile-photo {
		float: left;
		margin: 0 5% 30px 0;
		max-width: 200px;
	}

	/* --  CONTACT PAGE  -- */

	#primary {
		float: left;
		width: 50%;
	}

	#secondary {
		float: right;
		width: 40%;
	}

}


@media (min-width: 660px) {

	/* --  PORTFOLIO PAGE  -- */

	#gallery li {
		float: left;
		width: 45%;
		margin: 0 2.5% 30px;

	}

	#gallery li p {
		max-width: 100%;

	}

	/* --  NAVIGATION  -- */

	header {
		border-bottom: 3px solid peru;
	}

	nav {
		background: none;
		border: none;
		float: right;
		margin-right: 5%;
		margin-top: 15px;
		width: 45%;
		text-align: right;
	}

	#logo {
		float: left;
		text-align: left;
		margin-left: 5%;
		width: 45%;
	}

}