@media screen and (min-width: 480px) {

/* --  PORTFOLIO PAGE  -- */

#gallery li {
	float: left;
	width: 45%;
	margin: 0 2.5% 30px;

}

/*#gallery li:nth-child(2n) {
    clear: left;
  }*/

/* --  ABOUT PAGE  -- */

.profile-photo {
	float: left;
	margin: 0 5% 30px 0;
}

/* --  CONTACT PAGE  -- */

#primary {
	float: left;
	width: 50%;
}

#secondary {
	float: right;
	width: 40%;
}



}


@media screen and (min-width: 660px) {

/* --  NAVIGATION  -- */

header {
	border-bottom: 3px solid peru;
}

nav {
	background: none;
	border: none;
	float: right;
	margin-right: 5%;
	width: 45%;
	text-align: right;
}

#logo {
	float: left;
	text-align: left;
	margin-left: 5%;
	width: 45%;
}





}