/******************************
GENERAL
******************************/

body {
	background-color: beige;
	font-family: 'Helvetica', sans-serif;
	font-size: 1em;
	color: dimgray;
}

h1 {
	font-family: 'Raleway', sans-serif;
	margin: 0;
}

h2 {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
}

h3 {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0 0 1em 0;
}

ul {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: white;
}

a:hover {
	color: peru;
}

/*a:link, a:visited {
	color: white;
}*/

#wrapper {
	margin: 0 auto;
	padding: 0 5%;
	max-width: 960px;
}


/******************************
HEADING
******************************/

header {
	margin: 0 auto 2.25em; /* 36px */
	padding-top: 16px;
	background: linear-gradient(orange, transparent),
				linear-gradient(to top, peru, transparent),
				orange url('../img/header-bg.jpg') center no-repeat;
	background-size: cover;
	box-shadow: inset 0 0 40px 20px rgba(0, 0, 0, .15);
	text-align: center;
}

#title {
	font-size: 2.75em;
	font-weight: 700;
	text-shadow: 3px 3px 2.5px rgba(0, 0, 0, .1);
	/*margin-bottom: 0.15em;  12px */
}

#sub-title {
	font-size: 1.125em;
	font-weight: 300;
	margin-bottom: 1.25em; /* 20px */
}

#logo:hover {
	color: white;
}




/******************************
NAVIGATION
******************************/

nav {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: peru;
	text-align: center;
	padding: .65em 0;
	border-top: 3px solid white;
}

#nav-bar {
	list-style: none;
	font-weight: bold;
}

nav li {
	/*margin: 0 2.5% 0;*/
	/*padding: 0 6px;*/
	display: inline-block;
}

nav a {
	padding: 10px 20px;
	text-shadow: 3px 3px 2.5px rgba(0, 0, 0, .1);
}

nav a.selected, 
nav a:hover {
	color: dimgray;
}




/******************************
GALLERY
******************************/

#gallery {
	list-style: none;
}

#gallery li {
	/*background: orange;*/
	margin-bottom: 5%;
	box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.25);
}

#gallery li p {
	margin: -4px 0 0 0;
	padding: 2.5% 15px 2.5% 0;
	font-size: 0.75em;
	background-color: lightgrey;
	text-align: right;
}

.gallery-video {
	margin: 0;
	/*min-width: 100%;*/
	max-width: 100%;
}

#gallery a:link, #gallery a:visited {
	color: peru;
}

#gallery a:hover {
	color: white;
}



/******************************
ABOUT
******************************/

.profile-photo {
	display: block;
	margin: 0 auto 30px;
	max-width: 150px;
	border-radius: 100%;
	border: 5px solid orange;
}

#about p {
	line-height: 1.325em;
}



/******************************
CONTACT
******************************/

#primary,
 #secondary {
 	margin-bottom: 20px;
 }

#primary p {
	line-height: 1.325em;
}

.contact-info {
	list-style: none;
}

.contact-info a {
	display: block;
	color: grey;
	margin: 0 0 10px 0;
}

.contact-info a:hover {
	color: peru;
}




/******************************
FOOTER
******************************/

footer {
	color: lightgrey;
	/*background-color: orange;*/
	font-size: 0.7em;
	text-align: center;
	/*border-top: 3px solid peru;*/
	margin-top: 20px;
}

.copyright {
	margin: 0;
	padding: 25px 0;
}



/******************************
COLORS
******************************/

/* --- Float Clearfix --  */

.group:after {
  content: "";
  display: table;
  clear: both;
}


