body {
	background-color: #F5F2EB;
	padding-top: 80px;
}

p {

}

a {
	text-decoration: none;
}

h1 {
	margin: 10px 0 10px 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
}

h2 {
	margin: 10px 0 10px 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 24px;
}

.container {

}

.name-plate {
	color: white;
	float: left;
	display: inline-block;
}

.name-plate a, .name-plate a:hover {
	color: white;
	text-decoration: none;
}

.profile {
	text-align: center;
}

.navigation-buttons {
	margin: 10px 0 10px 0;
}

#headshot {
	margin: 20px;
	width: 150px;
	height: 150px;
	border: 4px solid #435A66;
	border-radius: 50%;
}

/* Div colors */
.off-white {
	background-color: #F5F2EB;
}

.light-blue {
	background-color: #88A6AF;
}

/* Navbar */
.navbar {
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	background-color: #424342;
}

/* Nav list */
.nav {

}

.nav li a {
	color: white;
}

.nav li a:hover {
	color: white;
}

/* Social Icons */

.social {
	margin-left: 20px;
	padding-left: 0px;
	font-size: 24px;
	list-style: none;
}

.social li {
	display: inline;
	margin: 0 20px 0 0;
}

.social li a {
	color: #000;
}

.social li a:hover {
	color: #88A6AF;
}