* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #FCFFF5;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

h1 {
  font-family: "Raleway", sans-serif;
  margin: 0; }

h2, h3 {
  margin: 0; }

a {
  text-decoration: none; }
  a:link, a:visited {
    color: #3E606F; }
  a:hover, a.selected {
    color: #bacfd8; }

ul {
  padding: 0;
  margin: 0; }

i {
  padding-right: 10px; }

iframe {
  border: none; }

#logo {
  color: #bacfd8; }
  #logo:hover {
    color: #bacfd8; }

#title {
  -mos-text-shadow: 3px 3px 2.5px rgba(0, 0, 0, 0.1);
  -ms-text-shadow: 3px 3px 2.5px rgba(0, 0, 0, 0.1);
  text-shadow: 3px 3px 2.5px rgba(0, 0, 0, 0.1);
  font-size: 2.75em;
  font-weight: 700; }

#sub-title {
  margin-bottom: 25px;
  font-size: 1em;
  -mos-text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.2);
  -ms-text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.2);
  text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.2); }

.group::after {
  clear: both;
  content: "";
  display: table; }

header {
  -mos-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.25);
  background-image: -webkit-linear-gradient(#3E606F, transparent), -webkit-linear-gradient( bottom , #91AA9D, transparent), url("../img/header-bg.jpg");
  background-image: linear-gradient(#3E606F, transparent), linear-gradient(to top, #91AA9D, transparent), url("../img/header-bg.jpg");
  background-position: 50% 95%;
  background-size: cover;
  margin: 0 auto 30px;
  padding: 20px 0;
  text-align: center; }

nav {
  padding: 15px 0 0 0;
  font-weight: bold;
  border-top: 2px solid #FCFFF5; }
  nav ul {
    list-style: none; }
    nav ul li {
      display: inline-block; }
  nav a {
    -mos-text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.2);
    -ms-text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.2);
    text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.2);
    padding: 10px 20px; }

#wrapper {
  margin: 0 auto;
  max-width: 960px;
  min-height: 500px;
  padding: 0 2.5%; }

#gallery {
  list-style: none; }
  #gallery li {
    margin-bottom: 7.5%;
    position: relative; }
    #gallery li div {
      overflow: hidden;
      text-align: center;
      -mos-box-shadow: 0px 7px 5px -7px rgba(0, 0, 0, 0.5);
      -ms-box-shadow: 0px 7px 5px -7px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 7px 5px -7px rgba(0, 0, 0, 0.5); }
      #gallery li div:hover img {
        opacity: 0.85;
        -webkit-transition: all 0.75s ease-in-out 0s;
        -moz-transition: all 0.75s ease-in-out 0s;
        transition: all 0.75s ease-in-out 0s;
        -webkit-filter: grayscale(50%);
        filter: grayscale(50%); }
      #gallery li div:hover h3 {
        -webkit-transform: translate3d(0, -15px, 0);
        -moz-transform: translate3d(0, -15px, 0);
        -ms-transform: translate3d(0, -15px, 0);
        -o-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
        -webkit-transition: -webkit-transform 1s ease-in-out 0s;
        -moz-transition: -moz-transform 1s ease-in-out 0s;
        transition: transform 1s ease-in-out 0s; }
    #gallery li img {
      width: 100%;
      height: 100%;
      max-width: 100%;
      vertical-align: bottom;
      -webkit-transition: all 0.75s ease-in-out 0s;
      -moz-transition: all 0.75s ease-in-out 0s;
      transition: all 0.75s ease-in-out 0s; }
    #gallery li h3 {
      font-size: 1.25em;
      padding: 20px;
      color: #fff;
      font-weight: 500;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 30%;
      text-align: left;
      -mos-text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.1);
      -ms-text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.1);
      text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.1);
      -webkit-transition: -webkit-transform 1s;
      -moz-transition: -moz-transform 1s;
      transition: transform 1s; }
      #gallery li h3 span {
        font-weight: 100; }
    #gallery li a:hover {
      color: #3E606F; }

footer {
  margin: 30px 0;
  color: #cbd6d0;
  text-align: center;
  font-size: 0.7em; }

#overlay {
  display: none;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center; }
  #overlay .videoContainer {
    margin: 5% auto;
    max-width: 65%;
    border: 5px solid #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
    #overlay .videoContainer .videoWrapper {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 25px;
      height: 0; }
      #overlay .videoContainer .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }

#primary {
  margin-bottom: 20px;
  padding: 0 30px 0 30px;
  line-height: 1.325em; }
  #primary p {
    color: #3E606F; }

#secondary {
  padding: 0 30px 0 30px; }
  #secondary h3 {
    margin-bottom: 16px; }
  #secondary .contact-info {
    list-style: none;
    font-size: 0.9em; }
    #secondary .contact-info a {
      display: block;
      margin-bottom: 10px; }
      #secondary .contact-info a:hover {
        color: #91AA9D; }

.profile-photo {
  -mos-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  border: 5px solid #3E606F;
  display: block;
  width: 150px;
  margin: 0 auto 30px; }

#about {
  line-height: 1.325em; }
  #about h3 {
    text-align: center; }
  #about p {
    color: #3E606F; }

@media (max-width: 479px) {
  #gallery li h3 {
    height: 35%;
    padding: 20px 15px; }

  #about-secondary {
    padding: 0 30px 0 30px; } }
@media (min-width: 480px) {
  #about h3 {
    text-align: left; }
  #about .profile-photo {
    float: left;
    width: 175px;
    margin: 0 30px 30px 15px; }

  #primary {
    float: left;
    width: 50%; }

  #secondary {
    float: right;
    width: 50%;
    padding: 0 0 0 30px; }

  #gallery li h3 {
    font-size: 1.4em;
    height: 30%;
    padding: 20px 15px; } }
@media (min-width: 660px) {
  header {
    padding: 20px; }
    header #header-wrapper {
      max-width: 960px;
      margin: 0 auto; }
      header #header-wrapper #logo {
        float: left;
        text-align: left;
        padding-left: 10px; }
      header #header-wrapper #sub-title {
        margin-bottom: 15px;
        text-align: right;
        line-height: 0.4; }
      header #header-wrapper nav {
        float: right;
        border: none;
        text-align: right;
        padding-top: 15px; }
        header #header-wrapper nav a:link, header #header-wrapper nav a:visited {
          color: #bacfd8; }
        header #header-wrapper nav a:hover, header #header-wrapper nav a.selected {
          color: #fbfdfd; }

  #gallery li {
    float: left;
    width: 45%;
    margin: 0 2.5% 5%; }
    #gallery li h3 {
      font-size: 1.25em;
      height: 35%;
      padding: 20px 15px; }

  #about-primary {
    float: left;
    width: 30%; }
    #about-primary .profile-photo {
      max-width: 100%;
      margin: 10px 30px 0 30px; }

  #about-secondary {
    float: right;
    width: 65%;
    padding: 15px; }

  #primary {
    float: left;
    width: 60%; }

  #secondary {
    float: right;
    width: 40%; } }

/*# sourceMappingURL=style.css.map */
