@import "../css/bourbon/bourbon";

/* --- COLOR VARIABLES --- */

$dark-primary-color: #0097A7;
$primary-color: #00BCD4;
$light-primary-color: #B2EBF2;

$jumbotron-text-color: #fff;

$header-text-color: #212121;
$body-text-color: #727272;
$alt-background-color: #f5f5f5;

/*$divider-color: #B6B6B6;*/
$divider-color: #0097A7;
$accent-color: #7C4DFF;

/* --- FONT VARIABLES --- */

$jumbotron-font: 'Raleway', Helvetica, Arial, sans-serif;
$body-font: 'Roboto', Helvetica, Arial, sans-serif;

/* --- GENERAL LAYOUT --- */

body {
	padding-top: 50px;
	background-color: $alt-background-color;
	color: $body-text-color;
	font-family: $body-font;
}

a, a:hover {
	text-decoration: none;
}

section {
	padding: 40px 0 30px 0;

}

footer {
	color: #727272;
	padding: 10px 0 5px 0;
	background-color: #e3e3e3;
	text-align: center;
	border-top: 1px solid #eee;
	font-weight: 200;
	-mos-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
  	-ms-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
  	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
}

.section-header {
	padding: 5px 0;
	height: 40px;
	background-color: $divider-color;
	position: relative;

	-mos-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25); 
}

.headline {
	color: $jumbotron-text-color;
	text-align: center;
	margin: 0;
	font-size: 1.75em;
	font-weight: 300;
	-mos-text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.33);
  	-ms-text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.33);
  	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.33);
}

.container {
	max-width: 960px;
}


#summary, #resume, #awards {
	background-color: $alt-background-color;
}

#projects, #skills, #about {
	background-color: $light-primary-color;
}




/* --- NAVBAR --- */

.navbar {
	padding: 5px 0;
	border-bottom: 0;
	background-color: $dark-primary-color;
	-mos-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.25);
  	-ms-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.25);
  	box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.25);

	.navbar-toggle {
		background-color: transparent;
	}

	.navbar-header {

		.navbar-brand {
			font-family: $jumbotron-font;
			color: $jumbotron-text-color;

			&:hover, &:visited, &:active {
				color: $jumbotron-text-color;
			}
		}
	}

	
}

.navbar-toggle {
	border: none;
}

.navbar-default {

	.navbar-toggle {

		&:focus, &:hover {
			background-color: transparent;
		}

		.icon-bar {
			background-color: $jumbotron-text-color;
		}

	}

	.navbar-collapse {
		border: 0;

		.navbar-nav {

			li {
				a, a:hover, a:visited {
					color: $jumbotron-text-color;
				}
			}
		}
	}

}

/* --- HEADER --- */

.contact-info {
	padding: 0;
	list-style: none;
	
	li {
		display: inline-block;
		padding: 10px 20px;
		font-size: 2em;

		a {
			color: $light-primary-color;
			@include transition(color 0.35s ease 50ms);
		}

		a:hover {
			color: $jumbotron-text-color;
			@include transition(color 0.35s ease 50ms);
		}

		i {
			-mos-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.33);
  			-ms-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.33);
  			text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.33);
		}
	}

}

.jumbotron {
	min-height: 200px;
	padding-top: 25px;
	margin-bottom: 0;
	color: $jumbotron-text-color;
	font-family: $jumbotron-font;
	text-align: center;
	background-color: $primary-color;
  	-mos-box-shadow: 0px -10px 1em rgba(0, 0, 0, 0.33);
    -ms-box-shadow: 0px -10px 1em rgba(0, 0, 0, 0.33);
    box-shadow: 0px -10px 1em rgba(0, 0, 0, 0.33); 

    h1 {
    	font-weight: 500;
    }

    .lead {
    	font-weight: 200;
    }
}

/* --- SUMMARY --- */

#summary {
	padding-top: 50px;
}

/*.summary-row {
	padding-bottom: 20px;
}*/

.ryan-desc-item {
	p {
		padding-top: 5px;
		color: #727272;
		text-align: center;
	}

	i {
		color: $accent-color;
		font-size: 3.5em;
		margin-bottom: 10px;
		-mos-text-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.33);
  		-ms-text-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.33);
  		text-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.33);
	}

	h3 {
		margin: 5px 0 0 0;
	}
}

/* --- PROJECTS --- */


#gallery-buttons {
	margin-top: 10px;
}

.more, .less {
	/*color: $jumbotron-text-color;*/
	text-align: center;
	-mos-text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.33);
  	-ms-text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.33);
  	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.33);

  	a {
  		color: $accent-color;
  		text-decoration: none;
  	}

	h4 {
		margin: 0;
		font-weight: 300;
	}

	.glyphicon {
		margin: 0;
		font-size: 1.3em;
		font-weight: 100;
	}
}

.thumbnail {
	padding: 0;
	border: 0;
	background-color: #fff;
	-mos-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.25); 
    -webkit-transition: -webkit-box-shadow 0.75s;
    -moz-transition: -moz-box-shadow 0.75s;
   	transition: box-shadow 0.75s;


	&:hover {
		-mos-box-shadow: 0px 2.5px 5px 1px rgba(0, 0, 0, 0.3);
	    -ms-box-shadow: 0px 2.5px 5px 1px rgba(0, 0, 0, 0.3);
	    box-shadow: 0px 2.5px 5px 1px rgba(0, 0, 0, 0.3); 
	    -webkit-transition: -webkit-box-shadow 0.75s ease-in-out 0s;
        -moz-transition: -moz-box-shadow 0.75s ease-in-out 0s;
        transition: box-shadow 0.75s ease-in-out 0s;
	}

	h3 {
		font-weight: 400;
	}

	h3 span {
		font-weight: 100;
	}

	.caption {

		padding: 10px 15px;

		p {
			margin: 0;
			font-size: 0.9em;
		}
	}
}
	
.video-header {
	position: relative;

	.video-title {
		color: #fff;
		font-size: 1.5em;
		margin: 0;
		padding-left: 15px;
		position: absolute;
		bottom: 15px;
		-webkit-transition: -webkit-transform 0.75s;
	    -moz-transition: -moz-transform 0.75s;
	   	transition: transform 0.75s;
		-mos-text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.4);
	  	-ms-text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.4);
	  	text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.4);
  	}


	&:hover h3 {
		-webkit-transform: translate3d(0, -10px, 0);
	    -moz-transform: translate3d(0, -10px, 0);
	    -ms-transform: translate3d(0, -10px, 0);
	    -o-transform: translate3d(0, -10px, 0);
	    transform: translate3d(0, -10px, 0);
	    -webkit-transition: -webkit-transform 0.75s ease-in-out 0s;
	    -moz-transition: -moz-transform 0.75s ease-in-out 0s;
	    transition: transform 0.75s ease-in-out 0s;
	}
}

/* --- MODAL WINDOW --- */

#video-frame {
	margin: 0 auto;
}

.modal-header {
	padding: 10px 15px;
}

.modal-title {
	font-weight: 300;
}

.modal-body {
	padding: 0;
}

.modal-footer {
	text-align: left;
	padding: 10px 15px;
}

/* --- RESUME  --- */

#resume {
	h3, h4 {
		font-weight: 300;
	}
}

.resume-row {
	height: 90px;
	margin-bottom: 15px;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.job-date {
	margin-top: 0;
	padding-top: 5px;
	text-align: right;
}

.job-title {
	margin-top: 0;
}

/* --- SKILLS --- */

#skills {

}

.skill-item {
	margin-top: 0px;
	font-weight: 300;
	text-align: right;
}

.progress-bar-info {
	background-color: $accent-color;
}

/* --- AWARDS  --- */

#awards {
	h3, h4 {
		font-weight: 300;
	}
}

.awards-group {
	margin-bottom: 35px;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.awards-header-row {
	margin-bottom: 10px;
}

.awards-details-row {
	padding-bottom: 10px;
}

.award-film {
	margin-top: 0;
	margin-bottom: 0;
}

.award-job {
	font-weight: 100;
	margin: 0;
	padding-top: 5px;
	text-align: right;
}
 .award-festival {
	text-align: right;
	margin-bottom: 0;
}

.award-title {
	margin-bottom: 0;

}

/* --- ABOUT --- */

#about {
	
}

.profile-photo {
  -mos-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  border: 6px solid $accent-color;
  display: block;
  width: 150px;
  margin: 0 auto;
}

/* --- MEDIA QUERIES --- */

/* Phones */
@media (max-width: 767px) {

	.contact-info {
		li {
			font-size: 1.5em;
			padding: 10px;
		}

	}

	.ryan-desc-item {
		text-align: center;
		padding-top: 10px;

		i {
			font-size: 2.75em;
		}

		h3 {
			font-size: 1.2em;
		}
	}

	.resume-row {
		margin-bottom: 10px;
		height: 70px;
	}

	.job-date {
		font-size: 0.9em;
	}

	.job-title {
		font-size: 1.25em;
	}

	.job-desc {
		font-size: 1.1em;
	}

	#summary {
		padding: 30px 0;
	}

}

/* Tablets */
@media (min-width: 768px) {

	/*footer {
		margin-top: 35px;
	}*/

	.jumbotron {
		height: 250px;
	}

}



